.postCard{
  height: 553px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 6px;
  margin-top: 20px;
  padding: 16px 13px;
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EDF0F5;
    padding-bottom: 10px;

    .userWrapper{
      display: flex;

      .avatar{
        height: 36px;
        width: 36px;
        min-width: 36px;
        border-radius: 50%;
      }

      .info{
        margin-left: 12px;
        span{
          display: block;
          &:not(:last-child){
            margin-bottom: 2px;
          }
        }
        .name{
          font-size: 14px;
        }
        .title, .date{
          font-size: 10px;
          color: #AAAAAA;
        }
      }
    }

    .dropdown{
      i{
        height: 24px;
        width: 24px;
        color: #AAAAAA;
      }
    }
  }

  .postContent{
    margin-top: 21px;
    font-size: 14px;
    .description{
      color: #17272F;
      font-weight: normal;

      .hashtag{
        margin-top: 12px;
        font-weight: 500;
        span{
          color: #006699;
          &:not(:first-child){
            padding-left: 8px;
          }
        }
      }
    }

    .media{
      height: 230px;
      margin-top: 12px;
      width: 100%;
      object-fit: cover;
      border-radius: 6px;
    }

    .socialDetails{
      display: flex;
      margin-top: 20px;
      align-items: center;
      border-bottom: 1px solid #EDF0F5;
      padding-bottom: 20px;
      margin-bottom: 14px;

      i{
        width: 16px;
        height: 16px;
        margin-right: 9px;
      }

      .info{
        font-size: 12px;
        font-weight: normal;
        .like{
          position: relative;
          margin: 14px 22px;
          &:after{
            content: '';
            height: 3px;
            width: 3px;
            background-color: black;
            position: absolute;
            border-radius: 50%;
            margin: 0 auto;
            top: 5px;
            right: -13px;

          }
        }
      }
    }

    .socialButtons{
      color: #AAAAAA;
      display: flex;
      .button{
        margin-right: 17px;

        i{
          margin-right: 8px;
        }
      }
    }

    .writeCommentCard{
      display: flex;
      justify-content: center;
      margin-top: 20px;
      position: relative;

      img{
        height: 32px;
        width: 32px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 12px;
      }

      .inputWrapper{
        width: 100%;
        position: relative;

        input{
          width: 100%;
          border: 1px solid #EDF0F5;
          padding: 16px;
          border-radius: 6px;
        }

        i{
          position: absolute;
          right: 16px;
          top: 0;
          height: 100%;
          color: #A7B4CC;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:before{
          content: '';
          position: absolute;
          right: 40px;
          top: 12px;
          height: 25px;
          width: 1px;
          background-color: #EDF0F5;
          z-index: 99;
        }
      }
    }
  }
}
